<!DOCTYPE html>
<html ><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>netGauges - Live Data Dials</title>
<style type="text/css">


a {
text-decoration: none;
color: #FFFFFF;
}


  .auto-style2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
  }
  .auto-style3 {
  color: #FFFFFF;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
  }
  .auto-style5 {
  color: #000000;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
  }
  .auto-style9 {
	color: #FFFFFF;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: x-small;
	text-align: center;
}

  
  </style>
</head>
<script type="text/javascript"  src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyCE0JHB4u3xqbBndHV4RFTa6oRfZrJzP8Y">    </script>
  <script src="{{ url_for('static', filename='js/netGaugesGlobals.js') }}" type="text/javascript"></script>

  <script src="{{ url_for('static', filename='js/ParseN2KDataJSON.js') }}" type="text/javascript"></script>

  <script type="text/javascript" src="{{ url_for('static', filename='js/ChangeDialStyleBootstrap.js') }}" ></script>

  <script src="{{ url_for('static', filename='js/NGHTMLLayout.js') }}" type="text/javascript"></script>
  
  
    <script type="text/javascript" src="{{ url_for('static', filename='js/modernizr-2.6.2.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.1.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.unobtrusive-ajax.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery_blockUI.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.validate.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.validate.unobtrusive.js') }}"></script>
	 <script type="text/javascript" src="{{ url_for('static', filename='js/GetPGNNumberFunctions.js') }}" ></script> 
  	 <script type="text/javascript" src="{{ url_for('static', filename='js/PGNSelectFunctions.js') }}" ></script>
  
  
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">  </link> 

<script type="text/javascript" src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui-timepicker-addon.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery_blockUI.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jscolor.js') }} " ></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/tween-min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/SSsteelseries.js') }} " ></script>
  
  
  
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />  
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/fileuploadstyles.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/persona-buttons.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/helmsmart-buttons.css') }}"/>  
  	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
	   <!-- <script src='https://cdn.firebase.com/v0/firebase.js'></script> -->
	   
	   <script src="https://www.gstatic.com/firebasejs/3.6.4/firebase.js"></script>
  
	<style>
	
	
	* {
   margin: 0;
   padding: 0;
}


		.nav-tabs > li.active > a,
		.nav-tabs > li.active > a:hover,
		.nav-tabs > li.active > a:focus {
			color: #fff;
			background-color: #428bca; 
		}

		.tab-content {
			margin-top: 10px;
			margin-left: 10px;
			margin-right: 10px;
			width: 920px;
			height: 800px;
			overflow: hidden !important;
		}
		
		div:-webkit-full-screen {
		  width: 100% !important;
		}
		div:-moz-full-screen {
		  width: 100% !important;
		}
		div:-ms-fullscreen {
		  width: 100% !important;
		}
		div:fullscreen {
		  width: 100% !important;
		  }
		  
		  .shadow {
		-moz-box-shadow: 0 0 30px 5px #999;
		-webkit-box-shadow: 0 0 30px 5px #999;
		}

		.shadow2 {
			-moz-box-shadow:    3px 3px 5px 6px #ccc;
			-webkit-box-shadow: 3px 3px 5px 6px #ccc;
			box-shadow:         3px 3px 5px 6px #ccc;
		}

		.canvasarea  { overflow: hidden !important; }
		
		#CanvasArea { overflow: hidden !important; }
		   
		</style>		
<!--		
/* While in fullscreen, hide any children with class 'tohide' */
:-webkit-full-screen .tohide {
  display: none;
}
:-moz-full-screen .tohide {
  display: none;
}
:-ms-fullscreen .tohide {
  display: none;
}
:fullscreen .tohide {
  display: none;
}
  -->

  <script language = "Javascript">




    var device;
    var mydata = new String();
    var myDeviceID;
    var AccountInit = false;
    var ParameterInit = false;
    var myuserid;
	var deviceAPIkeys = new Array();

    var mySubStrings = new Array();
    var myDataValues = new Array(0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0);

    var myArrayLength;
    var vGLinkTime;
    var vGN2KTime;

    var maxclip;
    var myHexStr = new String();
    var myHexLBStr = new String();
    var myTimeStr = new String();
    var mySwitchStr = new String();
    var myPitchRoll = new Array();
    //  var audioElement;
  var myoverlay = new Array();
  var mycog = new Array();
  var mysource = new Array();
    var glat  = new Array();
    var glng  = new Array();
    var gspeed  = new Array();
	var gcourse  = new Array();
	var gdistance  = new Array();
	
	var gn2ktime = new Array();
    var gn2kepoch = new Array();
	var gLatitude=42.05038;
	var gLongitude=-124.26833;
	
			//	if(gLatLng == "")
			//	gLatLng = new google.maps.LatLng(42.05038, -124.26833);
	
	var gAlertLatitude=0.00;
	var gAlertLongitude=0.00;
	
	var gAlertRadius = 1000;
   var TotalDistance=0;	
	
	  var AlertID=0;
	//  myMapOption = 0;
  var device;
  var firebase;
    var rootRef;;
  
  
  
  var map;
  var alarmmap;
  //var myLatlng;
  //var myOldLatlng;
  var gmarker;
    var galarmmarker;
  var geoRadius;
  

    var newpoly = new Array();
  var myPolyDataValues = {};
  var myPolyDataLabels = {};
	var maps = new Array();
  
  
  var path;
  var markers = new Array();
  var marker;
  var polyindex=0;
  var poly;
 // var myinfoWindow = new google.maps.InfoWindow;
   var polyOptions = {
   strokeColor: '#40FFFF',
   strokeOpacity: 1.0,
   strokeWeight: 3
   }

	var myDataValues = new Array( "- - ","- - ","- - ","- - ");
	var myDataLabels = new Array( "SOG","COG", "UnUsed", "UnUsed");
	
	  var myinfoWindow = new google.maps.InfoWindow;
	
   var myLatlng;
   var myOldLatlng=null;
   //var myOldLatlng = myLatlng;
	
  
    
    var config = {
    apiKey: "AIzaSyD2HTSEWcIiUr9vn4YnG7_dQx2F19tMapQ",
    authDomain: "helmsmart-ios-pcdin.firebaseapp.com",
    databaseURL: "https://helmsmart-ios-pcdin.firebaseio.com",
    storageBucket: "helmsmart-ios-pcdin.appspot.com",
    messagingSenderId: "824876491410"
  };
  
  
  firebase.initializeApp(config);
  

    /* ******************  padding functions ************************************************ */

    function zpad(num, len) {
    var str = String(num),
    diff = len - str.length;
    if(diff <= 0) return str;
    if(diff > zpad.zeros.length)
        zpad.zeros = new Array(diff + 1).join('0');
    return zpad.zeros.substr(0, diff) + str;
}

function spad(num, len) {
    var str = String(num),
        diff = len - str.length;
    if(diff <= 0) return str;
      if(diff > spad.spaces.length)
      spad.spaces= new Array(diff + 1).join(' ');
      return spad.spaces.substr(0, diff) + str;
      }
	  
function pad(number, length) {

        var str = '' + number;
        while (str.length < length) {
            str = '0' + str;
        }

        return str;

    }	  
	  
Date.isLeapYear = function (year) { 
    return (((year % 4 === 0) && (year % 100 !== 0)) || (year % 400 === 0)); 
};

Date.getDaysInMonth = function (year, month) {
    return [31, (Date.isLeapYear(year) ? 29 : 28), 31, 30, 31, 30, 31, 31, 30, 31, 30, 31][month];
};

Date.prototype.isLeapYear = function () { 
    return Date.isLeapYear(this.getFullYear()); 
};

Date.prototype.getDaysInMonth = function () { 
    return Date.getDaysInMonth(this.getFullYear(), this.getMonth());
};

Date.prototype.addMonths = function (value) {
    var n = this.getDate();
    this.setDate(1);
    this.setMonth(this.getMonth() + value);
    this.setDate(Math.min(n, this.getDaysInMonth()));
    return this;
};	  
	  
Date.prototype.subMonths = function (value) {
    var n = this.getDate();
    this.setDate(1);
    this.setMonth(this.getMonth() - value);
    this.setDate(Math.min(n, this.getDaysInMonth()));
    return this;
};	


Date.prototype.yyyymmdd = function() {         
                                
        var yyyy = this.getFullYear().toString();                                    
        var mm = (this.getMonth()+1).toString(); // getMonth() is zero-based         
        var dd  = this.getDate().toString();             
                            
        return yyyy + '-' + (mm[1]?mm:"0"+mm[0]) + '-' + (dd[1]?dd:"0"+dd[0]);
   };
   
 Date.prototype.yyyymmddhhmm = function() {         
                                
        var yyyy = this.getFullYear().toString();                                    
        var mm = (this.getMonth()+1).toString(); // getMonth() is zero-based         
        var dd  = this.getDate().toString();    
        var hh  = this.getHours().toString(); 
        var Min  = this.getMinutes().toString(); 		
                            
        return yyyy + '-' + (mm[1]?mm:"0"+mm[0]) + '-' + (dd[1]?dd:"0"+dd[0]) + ' ' + hh + ':' + Min;
   };
   
   Date.prototype.yyyymmddhhmmss = function() {         
                                
        var yyyy = this.getFullYear().toString();
        var MM = pad(this.getMonth() + 1,2);
        var dd = pad(this.getDate(), 2);
        var hh = pad(this.getHours(), 2);
        var mm = pad(this.getMinutes(), 2)
        var ss = pad(this.getSeconds(), 2)

        return yyyy + '-' + MM + '-' + dd + ' ' +  hh + ':' + mm + ':' + ss;
   };  
   
function ChangedMapOptions()
{


	MapOptions  = document.getElementById("MapOptions").selectedIndex;


}	
	
    function StartUpMyScript()
    {
    var x
    var i;
    var tempXMLdata;
    var XMLFile;
    var DialIndex=0;
    var CanvasIndex=0;









    AccountDataFolder = "{{deviceid}}";
	myuserid = "{{userid}}";	;
	PrefID = "{{prefkey}}";  ;
	



    // set up Server Account Type

    //SetServerType( 1);

  getDeviceParamDetails(myuserid, PrefID );


    ParameterInit = true;
    //   InitalizePageDials();


    }
	
	
    function InitalizePageDials()
    {
    var x
    var i;
    var tempXMLdata;
    var XMLFile;
    var DialIndex=0;
    var CanvasIndex=0;

    DialEnd = getEndDial(0, PageLayout );

    // Crete the dial canvas
    CreateCanvasArea(PageLayout);

    // Initialzing gauges

    // create each dial

    for(DialIndex=0; DialIndex < DialEnd; DialIndex++) //
    {           
      CreateDialTypes(CanvasIndex++, DialIndex, DialType[DialIndex]);
    }
    

     
    ClockLCD = new steelseries.DisplaySingle('canvasClock', {  width: 500,height: 50, valuesNumeric: false });

 
      
    setClockLcdColor(ClockLCDColor)


    CurrentDialID = 0;

    //document.body.style.background = PageBackGroundColor;
	document.getElementById("CanvasArea").style.backgroundColor = PageBackGroundColor;


    // document.AccountFolder.value = AccountDataFolder;
    //document.getElementById("AccountFolder").value = AccountDataFolder;

   // InitializePGNNumberOptionList(0);
    /*
    var PGNTypeIDLength = 	document.getElementById("PGNTypeID").length;
	
	for(var i=0; i< PGNTypeIDLength; i++)
	{
		//document.getElementById("PGNTypeID").options[i].disabled = true;
		//document.getElementById("PGNTypeID").options[i].style.color = '#0D27C3';
		document.getElementById("PGNTypeID").options[i].disabled = true;
		document.getElementById("PGNTypeID").options[i].style.color = '#808080';
	}
*/
	GetDialStyleInfo(0);
// set up repeating function to GetN2KData based on UpdateInterval
// This will get called in a infinate loop
//
//UpdateSeriesList();
    if(rootRef != null)
    rootRef.off();
	
      
    //FireBaseURL = "https://seasmart.firebaseio.com/events/" + AccountDataFolder + "/"; 
    //FireBaseURL = "https://seasmart.firebaseio.com/events/" + document.getElementById("DeviceID").options[document.getElementById("DeviceID").selectedIndex].value + "/Insert/"; 
	  //  FireBaseURL = "https://helmsmart-device-message.firebaseio.com/events/" + document.getElementById("DeviceID").options[document.getElementById("DeviceID").selectedIndex].value + "/Insert/"; 

	   //   FireBaseURL = "events/"  + document.getElementById("DeviceID").options[document.getElementById("DeviceID").selectedIndex].value + "/Insert/"; 	
		
		//FireBaseURL = "DEVICE/"  + document.getElementById("DeviceID").options[document.getElementById("DeviceID").selectedIndex].value;
		
		FireBaseURL = "DEVICE/"  + "{{deviceid}}";
	// device = new Firebase(FireBaseURL);
  //	device.on('value', function(snapshot) 
	rootRef = firebase.database().ref(FireBaseURL);
	
	
    rootRef.on('value', function(snapshot) {
	
    ShowFirebaseData(snapshot.val());
  }); 
      
    
      
 } // end of StartUpScript



 function handleGetDeviceData(response)
 {
 var index=0;
 
   	$.unblockUI();
   	
	  document.getElementById("DeviceID").options.length = 0;

   	response.records.forEach(function(row){
		  deviceAPIkeys[index] = row[2];
   	      document.getElementById("DeviceID").options[index++] = new Option(row[0], row[1]);
		  
	   		});
	   		
	   		
  		document.getElementById("DeviceID").selectedIndex = 0;
	    		for(i=0; i< document.getElementById("DeviceID").options.length; i++)
	    		{
	    			myDeviceID = document.getElementById("DeviceID").options[i].value;
		    		if(myDeviceID == AccountDataFolder)
		    			document.getElementById("DeviceID").selectedIndex = i;
		    	}
				
          UpdateSeriesList();
//getDeviceParamList(myuserid);
 
}

function handleGetDevicePramNames(response)
 {
 var index=0;
 
   	$.unblockUI();
   	
   // initialize the user parameter list to zero         
	document.getElementById("XMLFilesSelect").options.length = 0;
	document.getElementById("XMLFilesSelect").options[index++] = new Option("Use Defaults", "0");
  document.getElementById("XMLFilesSelect").selectedIndex = 0;		

  // get list of user parameters from the DB
   	    response.records.forEach(function(row){
   	      document.getElementById("XMLFilesSelect").options[index++] = new Option(row[2],  row[0] );
	   		});
	
   // set current user parameter to the indedx stored in the cookie
   if(document.getElementById("XMLFilesSelect").options.length >= ConfigOptions)
	    document.getElementById("XMLFilesSelect").selectedIndex = ConfigOptions;
   else 
	    document.getElementById("XMLFilesSelect").selectedIndex = 0;
   
    // load up user pameters from DB if there were any returned
    if(index > 1)        
	 	  getDeviceParamDetails(myuserid, 0);
    else
    {
      InitalizePageDials();
    }
 
}

function handleGetDevicePramDetails(response)
 {
 var index=0;
 
   	$.unblockUI();
   	


   	response.records.forEach(function(row){
   	
   		  // console.log(row);
   		   
  				PageLayout   = row[5];
				DialStart  =  0;
				MapOptions = parseInt(row[6]);
				PageBackGroundColor  = "#" + row[7];
				//PageForeGroundColor  = "#" + row[8];
				PageForeGroundColor  =  row[8];
				ClockLCDColor   = row[9];
				SystemClockPGNID   = row[10];
				UpdateInterval   = row[11];
				DialTimeout   = row[12];
				
			    var myDialSettingsSubStrings = new Array();
		//alert('got a cookies');
		// parse the cookie string
		
		myDialSettingsSubStrings= row[13].split(",");
		for ( index=0; index< myDialSettingsSubStrings.length; index++ )
				DialType[index]   =  parseInt(myDialSettingsSubStrings[index]);
				
		myDialSettingsSubStrings= row[14].split(",");
		for ( index=0; index< myDialSettingsSubStrings.length; index++ )
				DialPGNInstance[index]   =  parseInt(myDialSettingsSubStrings[index]);
				
		myDialSettingsSubStrings= row[15].split(",");
		for ( index=0; index< myDialSettingsSubStrings.length; index++ )
				DialPGNNumber[index]   = myDialSettingsSubStrings[index].replace(/\"/g, "");

		myDialSettingsSubStrings= row[16].split(",");
		for ( index=0; index< myDialSettingsSubStrings.length; index++ )
				DialPGNParameter[index]   =  parseInt(myDialSettingsSubStrings[index]);

		myDialSettingsSubStrings= row[17].split(",");
		for ( index=0; index< myDialSettingsSubStrings.length; index++ )
				DialUnits[index]   =  parseInt(myDialSettingsSubStrings[index]);

		myDialSettingsSubStrings= row[18].split(",");
		for ( index=0; index< myDialSettingsSubStrings.length; index++ )
				DialMin[index]   =  parseInt(myDialSettingsSubStrings[index]);

		myDialSettingsSubStrings= row[19].split(",");
		for ( index=0; index< myDialSettingsSubStrings.length; index++ )
				DialMax[index]   =  parseInt(myDialSettingsSubStrings[index]);

		myDialSettingsSubStrings= row[20].split(",");
		for ( index=0; index< myDialSettingsSubStrings.length; index++ )
				DialAlarm[index]   =  parseInt(myDialSettingsSubStrings[index]);

		myDialSettingsSubStrings= row[21].split(",");
		for ( index=0; index< myDialSettingsSubStrings.length; index++ )
				DialAlarmState[index]   =  parseInt(myDialSettingsSubStrings[index]);
				
		myDialSettingsSubStrings= row[22].split(",");
		for ( index=0; index< myDialSettingsSubStrings.length; index++ )
				DialText[index]   = myDialSettingsSubStrings[index].replace(/\"/g, "");


		myDialSettingsSubStrings= row[23].split(",");
		for ( index=0; index< myDialSettingsSubStrings.length; index++ )
				DialFrameType[index]   =  parseInt(myDialSettingsSubStrings[index]);

		myDialSettingsSubStrings= row[24].split(",");
		for ( index=0; index< myDialSettingsSubStrings.length; index++ )
				DialBackground[index]   =  parseInt(myDialSettingsSubStrings[index]);

		myDialSettingsSubStrings= row[25].split(",");
		for ( index=0; index< myDialSettingsSubStrings.length; index++ )
				DialLCDColor[index]   =  parseInt(myDialSettingsSubStrings[index]);

		myDialSettingsSubStrings= row[26].split(",");
		for ( index=0; index< myDialSettingsSubStrings.length; index++ )
				DialPointerColor[index]   =  parseInt(myDialSettingsSubStrings[index]);

		myDialSettingsSubStrings= row[27].split(",");
		for ( index=0; index< myDialSettingsSubStrings.length; index++ )
				DialPonterType[index]   =  parseInt(myDialSettingsSubStrings[index]);


   		   
	   		});
			
			
	   		
			document.getElementById("MapOptions").selectedIndex = MapOptions; 
			
			
			document.getElementById("UpdateInterval").selectedIndex = 6;
	    	for(i=0; i< document.getElementById("UpdateInterval").options.length; i++)
	    	{
	    			var myUpdateInterval = document.getElementById("UpdateInterval").options[i].value;
		    		if( parseInt(myUpdateInterval)  == UpdateInterval)
		    			document.getElementById("UpdateInterval").selectedIndex = i;
		    }
			
		
		   
		   document.getElementById("TrailColor").selectedIndex = 0;
	    	for(i=0; i< document.getElementById("TrailColor").options.length; i++)
	    	{
	    			var myPageForeGroundColor = document.getElementById("TrailColor").options[i].value;
		    		if(myPageForeGroundColor == PageForeGroundColor)
		    			document.getElementById("TrailColor").selectedIndex = i;
		    }
			
			document.getElementById("MapOptions").selectedIndex = 0;
	    	for(i=0; i< document.getElementById("MapOptions").options.length; i++)
	    	{
	    			var myMapOptions = document.getElementById("MapOptions").options[i].value;
		    		if(myMapOptions == MapOptions)
		    			document.getElementById("MapOptions").selectedIndex = i;
		    }
			
	   		 ParameterInit = true;

 			InitalizePageDials();

 
}

function handleGetSeriesAttributes(response)
 {
 var index=0;
 var i;
 
   	$.unblockUI();
    

     var myserieskey 
     var myPGNEvent;
     var index
     index = 0;
     

 
     
 
            

		
	var PGNTypeIDLength = 	document.getElementById("PGNTypeID").length;
	
	for(var i=0; i< PGNTypeIDLength; i++)
	{
		document.getElementById("PGNTypeID").options[i].disabled = true;
		document.getElementById("PGNTypeID").options[i].style.color = '#808080';
	}

       if(response.status == "error")
   {
    //  document.getElementById("SearchStatus").innerHTML = "No data from search";
      return;
      
     }        
	 
	 // force wind gust enabled
	 document.getElementById("PGNTypeID").options[6].disabled = false;
	document.getElementById("PGNTypeID").options[6].style.color = '#0D27C3';
        
     response.series.forEach(function(mydata){
     

      
            myserieskey = "deviceid:" + mydata.deviceid;
            myserieskey = myserieskey  + ".sensor:" + mydata.sensor;
            myserieskey = myserieskey  + ".source:" + mydata.source;
            myserieskey = myserieskey  + ".instance:" + mydata.instance;
            myserieskey = myserieskey  + ".type:" + mydata.type;
            myserieskey = myserieskey  + ".parameter:" + mydata.parameter;
            myserieskey = myserieskey  + ".HelmSmart";                                     
            
            myPGNEvent = GetPGNTypeFromSeries(myserieskey);
			
			for(var i=0; i< PGNTypeIDLength; i++)
			{
				if(document.getElementById("PGNTypeID").options[i].value == myPGNEvent)
				{
					document.getElementById("PGNTypeID").options[i].disabled = false;
					//document.getElementById("PGNTypeID").options[i].style.backgroundColor = 'red';
					document.getElementById("PGNTypeID").options[i].style.color = '#0D27C3';
					
					}

			}

            
         });
              
//	UpdateSeriesList();
 getDeviceParamList(myuserid);
 //getDeviceParamList(document.getElementById("DeviceID").options[document.getElementById("DeviceID").selectedIndex].value);
 
 
}


function UpdateSeriesList()
{
    GetSeriesAttributes(document.getElementById("DeviceID").options[document.getElementById("DeviceID").selectedIndex].value);
}


function GetSeriesAttributes(userid)
{

        $.blockUI({ 
     message: '<h1>Search in progress...</h1>',    
     css: {             
     border: 'none',             
     padding: '15px',             
     backgroundColor: '#000', 
        
     '-webkit-border-radius': '10px',             
     '-moz-border-radius': '10px',             
     opacity: .5,             
     color: '#fff'         
     } }); 

	var devicedataurl;
  
  EndEpoch = (new Date).getTime();
  StartEpoch = EndEpoch - (60*60*24*1000);
  
  EndEpoch = Math.floor(EndEpoch/1000);
  StartEpoch = Math.floor(StartEpoch/1000);

   var DeviceID = document.getElementById("DeviceID").value;
  // devicedataurl = "https://www.helmsmart-cloud.com/get_tempodb_series?&deviceid=" + userid;
  //devicedataurl = "https://www.helmsmart-cloud.com/get_influxdb_series?&deviceid=" + userid+ "&startepoch=" + StartEpoch + "&endepoch=" + EndEpoch ;
 devicedataurl = "https://www.helmsmart-cloud.com/get_influxdbcloud_series?&deviceid=" + userid+ "&startepoch=" + StartEpoch + "&endepoch=" + EndEpoch ;


         return $.ajax({
         //async: false,
         cache: false,
         url: devicedataurl,
         dataType: "json",
         timeout: 30000,
         statusCode: {
         404: function() {      alert( "page not found" );    },
         200: function() {      }
         },
         success: function(response) {
         handleGetSeriesAttributes(response)
         },
         complete: function() {
         // unblock when remote call returns
         // document.getElementById("SearchStatus").value = "Search Complete";

         //$.unblockUI();
         },
         error: function(request,status,errorThrown) {
         document.getElementById("SearchStatus").value = "Data Series List Search Error";
         $.unblockUI();
         }
         });


}








 /* ******************  Done Setting up chart  variable ************************************************ */
 function InitializeDeviceOptionList()
{
			document.getElementById("DeviceID").options[0] = new Option("Demo Data", "000000000000");
 }
 
 function SetDeviceOptionList()
{
	mapInitialized =false;
   //document.getElementById("AccountFolder").value = document.getElementById("DeviceID").value;
   AccountDataFolder = document.getElementById("DeviceID").value;
   //ConfigOptions = document.getElementById("XMLFilesSelect").index;
  UpdateSeriesList();
   //SetServerType('1');
 //SetCookie(CookiePrefix +'Account', AccountDataFolder + ":" + AccountType + ":" + ConfigOptions, exp); 

  if(rootRef != null)
   	rootRef.off();

      // FireBaseURL = "https://seasmart.firebaseio.com/events/" + AccountDataFolder + "/Insert/"; 
    //   FireBaseURL = "https://helmsmart-device-message.firebaseio.com/events/"  + AccountDataFolder + "/Insert/"; 	   
	//FireBaseURL = "events/"  + AccountDataFolder + "/Insert/"; 	  

	FireBaseURL = "DEVICE/"  + AccountDataFolder;
   // alert(FireBaseURL);
	// device = new Firebase(FireBaseURL);
  //	device.on('child_added', function(snapshot) 
	rootRef = firebase.database().ref(FireBaseURL);
	
	
    rootRef.on('value', function(snapshot) {
	
    ShowFirebaseData(snapshot.val());
  }); 
      

   
}
  
  /*
  
 function ChangedPGNTypeID(sel)
{
	var dialIndex = document.getElementById("PGNDialID").selectedIndex
	var myDeviceID = document.getElementById("DeviceID").options[document.getElementById("DeviceID").selectedIndex].value;
	
	ConstructPGNTypeID(myDeviceID,dialIndex);
	
	DialText[dialIndex] = document.getElementById("PGNTypeID").options[sel.selectedIndex].text; 
	document.getElementById("DialLabel").value = DialText[dialIndex];
	
	
	
	
}  
  
 */ 
  
  
  

 
function ShowFirebaseData(mydata)
{

  // console.log(mydata);
  // console.log(mydata[0].description);
  try{
   //var myvalues = mydata.pushsmart;
    var myvalues = mydata.JSON;
   
	 //alert(mydata);
	  if(myvalues != null)
	  {
		UpdateMapValues(myvalues)
	   ProcessPageGaugeUpdates(myvalues);
	   }
   }
   catch(err)
   {}
   
   
 }
 

 
 
 
 function getDeviceList(userid)
{
	mapInitialized =false;
        $.blockUI({ 
     message: '<h1>Search in progress...</h1>',    
     css: {             
     border: 'none',             
     padding: '15px',             
     backgroundColor: '#000', 
        
     '-webkit-border-radius': '10px',             
     '-moz-border-radius': '10px',             
     opacity: .5,             
     color: '#fff'         
     } }); 

	var devicedataurl;

    //devicedataurl = "https://www.helmsmart-cloud.com/getuser?gettype=devices&userid=" + userid; 
	
	 devicedataurl = "https://www.helmsmart-cloud.com/getuser?gettype=devicekeys&userid=" + userid; 
	
      
   return $.ajax({
					   //async: false,
					   cache: false,
					   url: devicedataurl,
					   dataType: "json",
					   timeout: 30000,
					   statusCode: {    
					   	404: function() {      alert( "page not found" );    }, 
					   	200: function() {      } 
					   	 },
					   success: function(response) {
					   		handleGetDeviceData(response)
					   },
					   complete: function() {  
		                      // unblock when remote call returns 
		                      // document.getElementById("SearchStatus").innerHTML = "Search Complete";
		                    //   ShowGraphSmartChart(gindex);
		                	//$.unblockUI();   
		            	}, 
		            	error: function(request,status,errorThrown) {  
		                          document.getElementById("SearchStatus").innerHTML = "Search Error";
		               		$.unblockUI();   
		            	} 
		 		  });


}	 

 function getDeviceParamList(userid)
{
	mapInitialized =false;
        $.blockUI({ 
     message: '<h1>Search in progress...</h1>',    
     css: {             
     border: 'none',             
     padding: '15px',             
     backgroundColor: '#000', 
        
     '-webkit-border-radius': '10px',             
     '-moz-border-radius': '10px',             
     opacity: .5,             
     color: '#fff'         
     } }); 

	var devicedataurl;
	
   devicedataurl = "https://www.helmsmart-cloud.com/getuser?gettype=pageprefnames&userid=" + userid + "&pagetype=0";
    
    
   return $.ajax({
					   //async: false,
					   cache: false,
					   url: devicedataurl,
					   dataType: "json",
					   timeout: 30000,
					   statusCode: {    
					   	404: function() {      alert( "page not found" );    }, 
					   	200: function() {      } 
					   	 },
					   success: function(response) {
					   		handleGetDevicePramNames(response)
					   },
					   complete: function() {  
		                      // unblock when remote call returns 
		                      // document.getElementById("SearchStatus").innerHTML = "Search Complete";
		                    //   ShowGraphSmartChart(gindex);
		                	//$.unblockUI();   
		            	}, 
		            	error: function(request,status,errorThrown) {  
		                          document.getElementById("SearchStatus").innerHTML = "Search Error";
		               		$.unblockUI();   
		            	} 
		 		  });


}	 
  // Drop down menue is auto filled from DB with user preferences
 function selectUserPref(sel)
 {
  // ConfigOptions = parseInt(sel.selectedIndex);
   // save new CongigOptions to Cookie file
  //  SetServerType( 1);

  // go to DB and load new prefs
   getDeviceParamDetails(myuserid, 0);

 }

  
 function getDeviceParamDetails(userid, prefkey)
{
	mapInitialized =false;

        $.blockUI({ 
     message: '<h1>Search in progress...</h1>',    
     css: {             
     border: 'none',             
     padding: '15px',             
     backgroundColor: '#000', 
        
     '-webkit-border-radius': '10px',             
     '-moz-border-radius': '10px',             
     opacity: .5,             
     color: '#fff'         
     } }); 

	var devicedataurl;
	var optionmenuindex;
	//var prefkey;


 
   devicedataurl = "https://www.helmsmart-cloud.com/getuser?gettype=pageprefs&userid=" + userid + "&pagetype=0&prefkey=" + prefkey;
         
   return $.ajax({
					   //async: false,
					   cache: false,
					   url: devicedataurl,
					   dataType: "json",
					   timeout: 30000,
					   statusCode: {    
					   	404: function() {      alert( "page not found" );    }, 
					   	200: function() {      } 
					   	 },
					   success: function(response) {
					   		handleGetDevicePramDetails(response)
					   },
					   complete: function() {  
		                      // unblock when remote call returns 
		                      // document.getElementById("SearchStatus").innerHTML = "Search Complete";
		                    //   ShowGraphSmartChart(gindex);
		                	//$.unblockUI();   
		            	}, 
		            	error: function(request,status,errorThrown) {  
		                          document.getElementById("SearchStatus").innerHTML = "Search Error";
		                           ParameterInit = true;

		               		$.unblockUI();   
		            	} 
		 		  });


}	 




</script>


<body style="width: 100%; height: 100%; margin: 0;" onload ="StartUpMyScript(); " >
 

  	<div class="container body-content">
	
	<style>
	.form-group {
		margin-bottom: 5px;
	}

	.control-label {
		padding-right: 3px;
	}

	.timeAgo {
		color: gray;
	}

	.valueFormat {
		color: black;
	}

	#tabEvents .form-control-static,
	#tabEvents .control-label {
		padding-top: 0px;
		padding-bottom: 0px;
	}

	hr {
		margin-top: 2px;
		margin-bottom: 6px;
	}

	input[type=checkbox] {
		margin-left: 0px !important;
	}
</style>

<script>
	$(function () {
		$(document).ajaxComplete(function (event, xhr, settings) {
			if (xhr.getResponseHeader('ReloadWholePage')) {
				window.location.reload();	//Reload the whole datapane
			}
		});
		
		$('.nav-tabs a[href="#tabGauges"]').tab('show');

	});


</script>
	
	
	
  <!-- Nav tabs -->
<ul class="nav nav-tabs" id="tab" role="tablist">

	<li><a href="#tabGauges" role="tab" data-toggle="tab">Gauges</a></li>

</ul>

<!-- Tab panes -->
<div class="tab-content" id="tabArea">



<div class="tab-pane" id="tabGauges">

  <div class="canvasarea" id="CanvasArea" style="width:100%; height:90%;  display:block; "></div>

   <div id="map_status" style="width:100%; height:5%; display: none; "></div>

	  <div id="linkbar" style="width:100%; height:5%; padding: 10px 10px 10px 10px;" class="auto-style9" >
	  				<center>	<button id="btnFullScreen" class="btn btn-primary" name="btnValue" id="FullScreen"  value="FullScreen" onclick="fullscreen();" >Full Screen</button> 
					

  </div>  
  
 
  
  
  <script>
	/*	
	// Get the canvas element form the page
var canvas = document.getElementById("canvas");
 
// Rresize the canvas to occupy the full page, 
//   by getting the widow width and height and setting it to canvas
 
canvas.width  = window.innerWidth;
canvas.height = window.innerHeight;

*/
  // Get the canvas element form the page
//var canvas = document.queryselector('CanvasArea');
function sharescreen(){
	var deviceapikey;
	var optionmenuindex;
	var prefkey;
	
	deviceapikey = deviceAPIkeys[document.getElementById("DeviceID").selectedIndex];

   optionmenuindex = document.getElementById("XMLFilesSelect").selectedIndex;
   prefkey = parseInt(document.getElementById("XMLFilesSelect").options[optionmenuindex].value);
   
   
// Sets the new href (URL) for the current window.
window.location.href = "https://www.helmsmart-cloud.com/netgauges_public?deviceapikey=" + deviceapikey + "&prefkey=" + prefkey;

}

 
function fullscreen(){
           var el = document.getElementById('CanvasArea');
 
           if(el.webkitRequestFullScreen) {
               el.webkitRequestFullScreen();
           }
          else {
             el.mozRequestFullScreen();
          }            
}


	$(function () {
		$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
			if (e.target.hash == '#tabGauges')
				setTimeout(initializeMaps, 10);	//Workaround for Bootstrap tabs and google maps center bug.
		});
	});

 
//canvas.addEventListener("click",fullscreen)
</script>
</div>



  
  
</div>
  
</body></html>