<!DOCTYPE html>
<html>
    <head>
      <meta content="HelmSmart Subscription Payment" name="description" />
      <meta name="google-site-verification" content="mZ0MHsuiy1Z1gHdPB9bnX3TKMhPG-ASKcB0gRVQBxoM" />
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
        <meta HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE" />
         



      </head>


	  <body  style="color: #FFFFFF; width: 200px; height: 200px; background-color: #FFFFFF" >
	  
	  

		  <p>click to submit your payment</p>

    <!-- A.Net requires a form post to their URL with the token -->
   <!-- <form method="post" action="{{ anet_env }}/payment/payment" id="formAuthorizeNet"> m-->
	 <form method="post" action="https://accept.authorize.net/payment/payment" id="formAuthorizeNet">
        <input type="hidden" name="token" value="{{ session['token'] }}" />
        <!-- This button text can be customized in the backend settings -->
       <!-- <button id="btnContinue" class='btn btn-primary' >Continue to Payment Page</button> -->
    </form>

    <script>
        // Optional: Automatically submit the form on page load for a seamless redirect
        document.getElementById('formAuthorizeNet').submit();
    </script>
           


	  
	  
	  
    </body>
  </html>

  